-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateEnum
CREATE TYPE "TipoCuentaGithub" AS ENUM ('INSTITUCIONAL', 'PERSONAL');

-- CreateEnum
CREATE TYPE "TipoGrupo" AS ENUM ('INDIVIDUAL', 'GRUPAL', 'COLABORATIVO');

-- CreateEnum
CREATE TYPE "DiaSemana" AS ENUM ('LUNES', 'MARTES', 'MIERCOLES', 'JUEVES', 'VIERNES', 'SABADO', 'DOMINGO');

-- CreateEnum
CREATE TYPE "EstadoProyecto" AS ENUM ('BORRADOR', 'ACTIVO', 'CERRADO', 'ARCHIVADO');

-- CreateEnum
CREATE TYPE "EstadoEntrega" AS ENUM ('BORRADOR', 'ENTREGADO', 'REVISADO', 'DEVUELTO', 'ATRASADO');

-- CreateEnum
CREATE TYPE "TipoDocumento" AS ENUM ('INFORME', 'PRESENTACION', 'GUIA', 'EVIDENCIA', 'OTRO');

-- CreateEnum
CREATE TYPE "TipoAnalisis" AS ENUM ('DOCUMENTO', 'CODIGO');

-- CreateEnum
CREATE TYPE "RolMiembroEquipo" AS ENUM ('LIDER', 'MIEMBRO', 'COLABORADOR');

-- CreateEnum
CREATE TYPE "EstadoHito" AS ENUM ('PENDIENTE', 'ACTIVO', 'FINALIZADO', 'CANCELADO');

-- CreateEnum
CREATE TYPE "RolMiembroProyecto" AS ENUM ('OWNER', 'MEMBER', 'DOCENTE');

-- CreateEnum
CREATE TYPE "TipoEvaluadorProyecto" AS ENUM ('DOCENTE', 'DIRECTOR', 'ADMIN', 'JURADO');

-- CreateEnum
CREATE TYPE "EstadoSolicitudAcceso" AS ENUM ('PENDIENTE', 'APROBADA', 'RECHAZADA', 'EXPIRADA');

-- CreateEnum
CREATE TYPE "TipoRecursoAcceso" AS ENUM ('DOCUMENTOS', 'CODIGO', 'AMBOS');

-- CreateEnum
CREATE TYPE "TipoReporte" AS ENUM ('DASHBOARD', 'AVANCESEMESTRE', 'TOPPROYECTOS', 'PLAGIORESUMEN', 'DOCENTESDESEMPENO');

-- CreateEnum
CREATE TYPE "RolColaboradorPizarra" AS ENUM ('OWNER', 'EDITOR', 'ESPECTADOR');

-- CreateEnum
CREATE TYPE "NivelRiesgoPlagio" AS ENUM ('BAJO', 'MEDIO', 'ALTO', 'CRITICO');

-- CreateEnum
CREATE TYPE "EstadoAnalisisPlagio" AS ENUM ('PENDIENTE', 'PROCESANDO', 'COMPLETADO', 'RECHAZADO');

-- CreateEnum
CREATE TYPE "TipoFuentePlagio" AS ENUM ('WEB', 'UNIFRANZ', 'IA', 'UNIVERSIDADEXTERNA', 'DESCONOCIDO');

-- CreateEnum
CREATE TYPE "TipoFragmentoPlagio" AS ENUM ('ORIGINAL', 'WEB', 'UNIFRANZ', 'IA', 'MIXTO', 'UNIVERSIDADEXTERNA', 'DESCONOCIDO');

-- CreateEnum
CREATE TYPE "LabelIAPlagio" AS ENUM ('HUMANO', 'MIXTO', 'WEB', 'IA', 'NO_CONCLUYENTE');

-- CreateEnum
CREATE TYPE "TareaModeloPlagio" AS ENUM ('DETECTORIA', 'SIMILITUDSEMANTICA', 'CLASIFICADORFUENTE');

-- CreateTable
CREATE TABLE "Institucion" (
    "id" SERIAL NOT NULL,
    "nombre" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "activo" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Institucion_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "PeriodoAcademico" (
    "id" SERIAL NOT NULL,
    "institucionId" INTEGER NOT NULL,
    "nombre" TEXT NOT NULL,
    "fechaIni" TIMESTAMP(3) NOT NULL,
    "fechaFin" TIMESTAMP(3) NOT NULL,
    "activo" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "PeriodoAcademico_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Usuario" (
    "id" SERIAL NOT NULL,
    "nombre" TEXT NOT NULL,
    "apellido" TEXT NOT NULL,
    "telefono" TEXT NOT NULL,
    "ci" INTEGER NOT NULL,
    "correo" TEXT NOT NULL,
    "password" TEXT NOT NULL,
    "idRol" INTEGER NOT NULL,
    "activo" BOOLEAN NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "codigo" TEXT,
    "idFacultad" INTEGER,
    "idCarrera" INTEGER,
    "semestreId" INTEGER,
    "esDirector" BOOLEAN NOT NULL DEFAULT false,

    CONSTRAINT "Usuario_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Rol" (
    "id" SERIAL NOT NULL,
    "nombre" TEXT NOT NULL,

    CONSTRAINT "Rol_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Facultad" (
    "id" SERIAL NOT NULL,
    "institucionId" INTEGER,
    "nombre" TEXT NOT NULL,
    "theme" JSONB,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Facultad_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Carrera" (
    "id" SERIAL NOT NULL,
    "nombre" TEXT NOT NULL,
    "idFacultad" INTEGER NOT NULL,
    "sigla" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Carrera_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Semestre" (
    "id" SERIAL NOT NULL,
    "numero" INTEGER NOT NULL,
    "etiqueta" TEXT NOT NULL DEFAULT '',
    "carreraId" INTEGER NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Semestre_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Materia" (
    "id" SERIAL NOT NULL,
    "nombre" TEXT NOT NULL,
    "codigo" TEXT NOT NULL,
    "idCarrera" INTEGER NOT NULL,
    "semestreId" INTEGER,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Materia_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Horario" (
    "id" SERIAL NOT NULL,
    "materiaId" INTEGER NOT NULL,
    "dia" "DiaSemana" NOT NULL,
    "horaInicio" TIMESTAMP(3) NOT NULL,
    "horaFin" TIMESTAMP(3) NOT NULL,
    "aula" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Horario_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ClaseMateria" (
    "id" SERIAL NOT NULL,
    "periodoId" INTEGER NOT NULL,
    "materiaId" INTEGER NOT NULL,
    "docenteId" INTEGER,
    "paralelo" TEXT NOT NULL DEFAULT 'A',
    "aula" TEXT,
    "cupoMaximo" INTEGER NOT NULL DEFAULT 30,
    "activo" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ClaseMateria_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "InscripcionMateria" (
    "id" SERIAL NOT NULL,
    "usuarioId" INTEGER NOT NULL,
    "periodoId" INTEGER NOT NULL,
    "claseId" INTEGER,
    "materiaId" INTEGER NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "InscripcionMateria_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Inscripcion" (
    "id" SERIAL NOT NULL,
    "usuarioId" INTEGER NOT NULL,
    "materiaId" INTEGER NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Inscripcion_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "DocenteMateria" (
    "id" SERIAL NOT NULL,
    "usuarioId" INTEGER NOT NULL,
    "materiaId" INTEGER NOT NULL,

    CONSTRAINT "DocenteMateria_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "EstudianteMateria" (
    "id" SERIAL NOT NULL,
    "usuarioId" INTEGER NOT NULL,
    "materiaId" INTEGER NOT NULL,

    CONSTRAINT "EstudianteMateria_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Proyecto" (
    "id" SERIAL NOT NULL,
    "titulo" TEXT NOT NULL,
    "descripcion" TEXT DEFAULT '',
    "codigoMateria" TEXT,
    "tipoGrupo" "TipoGrupo" NOT NULL DEFAULT 'GRUPAL',
    "estado" "EstadoProyecto" NOT NULL DEFAULT 'ACTIVO',
    "repoUrl" TEXT,
    "creadoPorId" INTEGER,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Proyecto_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ProyectoMateria" (
    "id" SERIAL NOT NULL,
    "proyectoId" INTEGER NOT NULL,
    "materiaId" INTEGER NOT NULL,
    "periodoId" INTEGER,
    "claseId" INTEGER,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "ProyectoMateria_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Equipo" (
    "id" SERIAL NOT NULL,
    "proyectoId" INTEGER NOT NULL,
    "nombre" TEXT NOT NULL,
    "tipoGrupo" "TipoGrupo" NOT NULL DEFAULT 'GRUPAL',
    "materiaId" INTEGER,
    "periodoId" INTEGER,
    "claseId" INTEGER,
    "creadoPorId" INTEGER,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Equipo_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "EquipoMiembro" (
    "id" SERIAL NOT NULL,
    "equipoId" INTEGER NOT NULL,
    "usuarioId" INTEGER NOT NULL,
    "rolEquipo" "RolMiembroEquipo" NOT NULL DEFAULT 'MIEMBRO',
    "activo" BOOLEAN NOT NULL DEFAULT true,
    "joinedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "EquipoMiembro_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "HitoProyecto" (
    "id" SERIAL NOT NULL,
    "proyectoId" INTEGER NOT NULL,
    "orden" INTEGER NOT NULL,
    "nombre" TEXT NOT NULL,
    "descripcion" TEXT DEFAULT '',
    "peso" INTEGER,
    "fechaInicio" TIMESTAMP(3),
    "fechaFin" TIMESTAMP(3),
    "estado" "EstadoHito" NOT NULL DEFAULT 'PENDIENTE',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "HitoProyecto_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "EntregaHito" (
    "id" SERIAL NOT NULL,
    "hitoId" INTEGER NOT NULL,
    "equipoId" INTEGER NOT NULL,
    "autorId" INTEGER,
    "estado" "EstadoEntrega" NOT NULL DEFAULT 'ENTREGADO',
    "comentario" TEXT DEFAULT '',
    "evidenciaUrl" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "EntregaHito_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "RevisionEntrega" (
    "id" SERIAL NOT NULL,
    "entregaId" INTEGER NOT NULL,
    "revisorId" INTEGER NOT NULL,
    "nota" DOUBLE PRECISION,
    "feedback" TEXT DEFAULT '',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "RevisionEntrega_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "MiembroProyecto" (
    "id" SERIAL NOT NULL,
    "proyectoId" INTEGER NOT NULL,
    "usuarioId" INTEGER NOT NULL,
    "rol" "RolMiembroProyecto" NOT NULL DEFAULT 'MEMBER',
    "joinedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "MiembroProyecto_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "EvaluacionProyecto" (
    "id" SERIAL NOT NULL,
    "proyectoId" INTEGER NOT NULL,
    "periodoId" INTEGER,
    "evaluadorId" INTEGER NOT NULL,
    "tipoEvaluador" "TipoEvaluadorProyecto" NOT NULL,
    "puntaje" DOUBLE PRECISION NOT NULL,
    "comentario" TEXT DEFAULT '',
    "criteriosJson" JSONB,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "EvaluacionProyecto_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ProyectoDestacado" (
    "id" SERIAL NOT NULL,
    "proyectoId" INTEGER NOT NULL,
    "periodoId" INTEGER,
    "idFacultad" INTEGER,
    "idCarrera" INTEGER,
    "motivo" TEXT DEFAULT '',
    "orden" INTEGER,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "ProyectoDestacado_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "SolicitudAccesoProyecto" (
    "id" SERIAL NOT NULL,
    "proyectoId" INTEGER NOT NULL,
    "solicitanteId" INTEGER NOT NULL,
    "aprobadorId" INTEGER,
    "estado" "EstadoSolicitudAcceso" NOT NULL DEFAULT 'PENDIENTE',
    "tipo" "TipoRecursoAcceso" NOT NULL DEFAULT 'AMBOS',
    "motivo" TEXT DEFAULT '',
    "respuesta" TEXT DEFAULT '',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "expiresAt" TIMESTAMP(3),

    CONSTRAINT "SolicitudAccesoProyecto_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Pizarra" (
    "id" SERIAL NOT NULL,
    "proyectoId" INTEGER NOT NULL,
    "equipoId" INTEGER,
    "periodoId" INTEGER,
    "nombre" TEXT NOT NULL,
    "tipoGrupo" "TipoGrupo" NOT NULL DEFAULT 'INDIVIDUAL',
    "dataJson" JSONB NOT NULL,
    "version" INTEGER NOT NULL DEFAULT 1,
    "creadoPorId" INTEGER NOT NULL,
    "esPublica" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Pizarra_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "PizarraColaborador" (
    "id" SERIAL NOT NULL,
    "pizarraId" INTEGER NOT NULL,
    "usuarioId" INTEGER NOT NULL,
    "rol" "RolColaboradorPizarra" NOT NULL DEFAULT 'EDITOR',
    "agregadoPorId" INTEGER,
    "joinedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "PizarraColaborador_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Documento" (
    "id" SERIAL NOT NULL,
    "nombre" TEXT NOT NULL,
    "ruta" TEXT NOT NULL,
    "mimetype" TEXT NOT NULL,
    "tamano" INTEGER NOT NULL,
    "creadoEn" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "tipo" "TipoDocumento" NOT NULL DEFAULT 'OTRO',
    "contenidoTexto" TEXT,
    "esRepositorioUnifranz" BOOLEAN NOT NULL DEFAULT false,
    "usuarioId" INTEGER,
    "entregaId" INTEGER,

    CONSTRAINT "Documento_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AnalisisPlagio" (
    "id" SERIAL NOT NULL,
    "tipo" "TipoAnalisis" NOT NULL DEFAULT 'DOCUMENTO',
    "documentoId" INTEGER,
    "entregaId" INTEGER,
    "estado" "EstadoAnalisisPlagio" NOT NULL DEFAULT 'PENDIENTE',
    "originalidad" DOUBLE PRECISION NOT NULL DEFAULT 100,
    "plagioWeb" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "plagioUniversidad" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "plagioExterno" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "contenidoIA" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "scoreGlobal" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "nivelRiesgo" "NivelRiesgoPlagio" NOT NULL DEFAULT 'BAJO',
    "totalFragmentos" INTEGER NOT NULL DEFAULT 0,
    "fragmentosCriticos" INTEGER NOT NULL DEFAULT 0,
    "fragmentosAltos" INTEGER NOT NULL DEFAULT 0,
    "fragmentosMedios" INTEGER NOT NULL DEFAULT 0,
    "fragmentosBajos" INTEGER NOT NULL DEFAULT 0,
    "modeloIAVersion" TEXT,
    "modeloSimiVersion" TEXT,
    "motorBusqueda" TEXT DEFAULT 'FASTAPI_SIMULADO',
    "resumen" TEXT,
    "errorMensaje" TEXT,
    "resumenJson" JSONB,
    "creadoEn" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "actualizadoEn" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "AnalisisPlagio_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "FuentePlagio" (
    "id" SERIAL NOT NULL,
    "analisisId" INTEGER NOT NULL,
    "fragmentoId" INTEGER,
    "tipo" "TipoFuentePlagio" NOT NULL DEFAULT 'DESCONOCIDO',
    "titulo" TEXT NOT NULL,
    "autor" TEXT,
    "dominio" TEXT,
    "url" TEXT,
    "snippet" TEXT,
    "textoCoincidente" TEXT,
    "coincidencia" INTEGER NOT NULL DEFAULT 0,
    "similitud" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "metodo" TEXT,
    "metadata" JSONB,
    "creadoEn" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "FuentePlagio_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "FragmentoPlagio" (
    "id" SERIAL NOT NULL,
    "analisisId" INTEGER NOT NULL,
    "indice" INTEGER NOT NULL DEFAULT 0,
    "seccion" TEXT,
    "inicio" INTEGER NOT NULL,
    "fin" INTEGER NOT NULL,
    "pagina" INTEGER,
    "texto" TEXT NOT NULL,
    "textoNormalizado" TEXT,
    "tipo" "TipoFragmentoPlagio" NOT NULL DEFAULT 'DESCONOCIDO',
    "fuenteLabel" TEXT,
    "riesgo" "NivelRiesgoPlagio" NOT NULL DEFAULT 'BAJO',
    "color" TEXT,
    "feedback" TEXT,
    "labelIA" "LabelIAPlagio" NOT NULL DEFAULT 'NO_CONCLUYENTE',
    "probHumano" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "probMixto" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "probIA" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "similitudMaxima" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "similitudInterna" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "similitudWeb" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "similitudExterna" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "cantidadPalabras" INTEGER NOT NULL DEFAULT 0,
    "metadata" JSONB,
    "creadoEn" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "FragmentoPlagio_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "DatasetPlagio" (
    "id" SERIAL NOT NULL,
    "tarea" "TareaModeloPlagio" NOT NULL,
    "textoA" TEXT NOT NULL,
    "textoB" TEXT NOT NULL,
    "label" TEXT,
    "score" DOUBLE PRECISION,
    "origen" TEXT,
    "fragmentoId" INTEGER,
    "creadoPorId" INTEGER,
    "aprobado" BOOLEAN NOT NULL DEFAULT false,
    "metadata" JSONB,
    "creadoEn" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "DatasetPlagio_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ModeloPlagio" (
    "id" SERIAL NOT NULL,
    "nombre" TEXT NOT NULL,
    "tarea" "TareaModeloPlagio" NOT NULL,
    "version" TEXT NOT NULL,
    "rutaModelo" TEXT NOT NULL,
    "activo" BOOLEAN NOT NULL DEFAULT false,
    "metricas" JSONB,
    "notas" TEXT,
    "creadoEn" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "ModeloPlagio_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "GithubAuth" (
    "id" SERIAL NOT NULL,
    "usuarioId" INTEGER NOT NULL,
    "tipoCuenta" "TipoCuentaGithub" NOT NULL,
    "githubId" TEXT NOT NULL,
    "login" TEXT NOT NULL,
    "avatarUrl" TEXT,
    "correo" TEXT,
    "accessToken" TEXT NOT NULL,
    "tokenType" TEXT,
    "scopes" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "GithubAuth_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "InstGithubApp" (
    "id" SERIAL NOT NULL,
    "usuarioId" INTEGER NOT NULL,
    "installationId" INTEGER NOT NULL,
    "accountLogin" TEXT,
    "accountId" INTEGER,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "InstGithubApp_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "GithubLinkPair" (
    "id" SERIAL NOT NULL,
    "usuarioId" INTEGER NOT NULL,
    "instGithubId" TEXT,
    "instLogin" TEXT,
    "instEmail" TEXT,
    "perGithubId" TEXT,
    "perLogin" TEXT,
    "perEmail" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "GithubLinkPair_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "RepoGithub" (
    "id" SERIAL NOT NULL,
    "equipoId" INTEGER NOT NULL,
    "owner" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "url" TEXT NOT NULL,
    "private" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "RepoGithub_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "RepoSnapshot" (
    "id" SERIAL NOT NULL,
    "repoId" INTEGER NOT NULL,
    "fecha" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "commits" INTEGER NOT NULL DEFAULT 0,
    "prs" INTEGER NOT NULL DEFAULT 0,
    "issues" INTEGER NOT NULL DEFAULT 0,
    "resumenJson" JSONB,

    CONSTRAINT "RepoSnapshot_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Feria" (
    "id" SERIAL NOT NULL,
    "institucionId" INTEGER,
    "nombre" TEXT NOT NULL,
    "descripcion" TEXT DEFAULT '',
    "fecha" TIMESTAMP(3) NOT NULL,
    "lugar" TEXT DEFAULT '',
    "imagenMapaUrl" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Feria_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "FeriaCategoria" (
    "id" SERIAL NOT NULL,
    "feriaId" INTEGER NOT NULL,
    "nombre" TEXT NOT NULL,
    "descripcion" TEXT DEFAULT '',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "FeriaCategoria_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "FeriaEquipo" (
    "id" SERIAL NOT NULL,
    "feriaId" INTEGER NOT NULL,
    "categoriaId" INTEGER,
    "equipoId" INTEGER,
    "nombreEquipo" TEXT NOT NULL,
    "nombreProyecto" TEXT NOT NULL,
    "descripcion" TEXT DEFAULT '',
    "mesaCodigo" TEXT,
    "mesaX" INTEGER,
    "mesaY" INTEGER,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "FeriaEquipo_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "FeriaEquipoMiembro" (
    "id" SERIAL NOT NULL,
    "feriaEquipoId" INTEGER NOT NULL,
    "usuarioId" INTEGER NOT NULL,

    CONSTRAINT "FeriaEquipoMiembro_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "FeriaEvaluacion" (
    "id" SERIAL NOT NULL,
    "feriaEquipoId" INTEGER NOT NULL,
    "juradoId" INTEGER NOT NULL,
    "puntaje" DOUBLE PRECISION NOT NULL,
    "comentario" TEXT DEFAULT '',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "FeriaEvaluacion_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "CV" (
    "id" SERIAL NOT NULL,
    "usuarioId" INTEGER NOT NULL,
    "resumen" TEXT DEFAULT '',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "CV_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "CVHabilidad" (
    "id" SERIAL NOT NULL,
    "cvId" INTEGER NOT NULL,
    "nombre" TEXT NOT NULL,
    "categoria" TEXT,
    "nivel" INTEGER,
    "evidencia" TEXT,

    CONSTRAINT "CVHabilidad_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "CVLogro" (
    "id" SERIAL NOT NULL,
    "cvId" INTEGER NOT NULL,
    "titulo" TEXT NOT NULL,
    "descripcion" TEXT DEFAULT '',
    "fecha" TIMESTAMP(3),

    CONSTRAINT "CVLogro_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "CVProyecto" (
    "id" SERIAL NOT NULL,
    "cvId" INTEGER NOT NULL,
    "titulo" TEXT NOT NULL,
    "descripcion" TEXT DEFAULT '',
    "rol" TEXT DEFAULT '',
    "area" TEXT DEFAULT '',
    "tecnologias" TEXT DEFAULT '',
    "linkEvidencia" TEXT,
    "fechaInicio" TIMESTAMP(3),
    "fechaFin" TIMESTAMP(3),

    CONSTRAINT "CVProyecto_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ReporteGenerado" (
    "id" SERIAL NOT NULL,
    "tipo" "TipoReporte" NOT NULL,
    "periodoId" INTEGER,
    "generadoPorId" INTEGER NOT NULL,
    "filtrosJson" JSONB,
    "resultadoJson" JSONB NOT NULL,
    "archivoUrl" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "ReporteGenerado_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "Institucion_slug_key" ON "Institucion"("slug");

-- CreateIndex
CREATE INDEX "PeriodoAcademico_institucionId_activo_idx" ON "PeriodoAcademico"("institucionId", "activo");

-- CreateIndex
CREATE UNIQUE INDEX "PeriodoAcademico_institucionId_nombre_key" ON "PeriodoAcademico"("institucionId", "nombre");

-- CreateIndex
CREATE UNIQUE INDEX "Usuario_correo_key" ON "Usuario"("correo");

-- CreateIndex
CREATE UNIQUE INDEX "Usuario_codigo_key" ON "Usuario"("codigo");

-- CreateIndex
CREATE INDEX "Usuario_idRol_idx" ON "Usuario"("idRol");

-- CreateIndex
CREATE INDEX "Usuario_idFacultad_idx" ON "Usuario"("idFacultad");

-- CreateIndex
CREATE INDEX "Usuario_idCarrera_idx" ON "Usuario"("idCarrera");

-- CreateIndex
CREATE INDEX "Usuario_semestreId_idx" ON "Usuario"("semestreId");

-- CreateIndex
CREATE INDEX "Usuario_createdAt_idx" ON "Usuario"("createdAt");

-- CreateIndex
CREATE UNIQUE INDEX "Rol_nombre_key" ON "Rol"("nombre");

-- CreateIndex
CREATE INDEX "Facultad_institucionId_idx" ON "Facultad"("institucionId");

-- CreateIndex
CREATE UNIQUE INDEX "Facultad_institucionId_nombre_key" ON "Facultad"("institucionId", "nombre");

-- CreateIndex
CREATE UNIQUE INDEX "Carrera_sigla_key" ON "Carrera"("sigla");

-- CreateIndex
CREATE INDEX "Carrera_idFacultad_idx" ON "Carrera"("idFacultad");

-- CreateIndex
CREATE INDEX "Semestre_carreraId_numero_idx" ON "Semestre"("carreraId", "numero");

-- CreateIndex
CREATE UNIQUE INDEX "Semestre_carreraId_numero_key" ON "Semestre"("carreraId", "numero");

-- CreateIndex
CREATE UNIQUE INDEX "Materia_codigo_key" ON "Materia"("codigo");

-- CreateIndex
CREATE INDEX "Materia_idCarrera_idx" ON "Materia"("idCarrera");

-- CreateIndex
CREATE INDEX "Materia_semestreId_idx" ON "Materia"("semestreId");

-- CreateIndex
CREATE INDEX "Horario_materiaId_dia_idx" ON "Horario"("materiaId", "dia");

-- CreateIndex
CREATE INDEX "ClaseMateria_periodoId_idx" ON "ClaseMateria"("periodoId");

-- CreateIndex
CREATE INDEX "ClaseMateria_materiaId_idx" ON "ClaseMateria"("materiaId");

-- CreateIndex
CREATE INDEX "ClaseMateria_docenteId_idx" ON "ClaseMateria"("docenteId");

-- CreateIndex
CREATE INDEX "ClaseMateria_activo_idx" ON "ClaseMateria"("activo");

-- CreateIndex
CREATE UNIQUE INDEX "ClaseMateria_periodoId_materiaId_paralelo_key" ON "ClaseMateria"("periodoId", "materiaId", "paralelo");

-- CreateIndex
CREATE INDEX "InscripcionMateria_periodoId_materiaId_idx" ON "InscripcionMateria"("periodoId", "materiaId");

-- CreateIndex
CREATE INDEX "InscripcionMateria_claseId_idx" ON "InscripcionMateria"("claseId");

-- CreateIndex
CREATE INDEX "InscripcionMateria_usuarioId_idx" ON "InscripcionMateria"("usuarioId");

-- CreateIndex
CREATE UNIQUE INDEX "InscripcionMateria_usuarioId_periodoId_materiaId_key" ON "InscripcionMateria"("usuarioId", "periodoId", "materiaId");

-- CreateIndex
CREATE UNIQUE INDEX "Inscripcion_usuarioId_materiaId_key" ON "Inscripcion"("usuarioId", "materiaId");

-- CreateIndex
CREATE UNIQUE INDEX "DocenteMateria_usuarioId_materiaId_key" ON "DocenteMateria"("usuarioId", "materiaId");

-- CreateIndex
CREATE UNIQUE INDEX "EstudianteMateria_usuarioId_materiaId_key" ON "EstudianteMateria"("usuarioId", "materiaId");

-- CreateIndex
CREATE INDEX "Proyecto_creadoPorId_idx" ON "Proyecto"("creadoPorId");

-- CreateIndex
CREATE INDEX "ProyectoMateria_materiaId_periodoId_idx" ON "ProyectoMateria"("materiaId", "periodoId");

-- CreateIndex
CREATE INDEX "ProyectoMateria_claseId_idx" ON "ProyectoMateria"("claseId");

-- CreateIndex
CREATE UNIQUE INDEX "ProyectoMateria_proyectoId_materiaId_periodoId_key" ON "ProyectoMateria"("proyectoId", "materiaId", "periodoId");

-- CreateIndex
CREATE INDEX "Equipo_proyectoId_idx" ON "Equipo"("proyectoId");

-- CreateIndex
CREATE INDEX "Equipo_materiaId_periodoId_idx" ON "Equipo"("materiaId", "periodoId");

-- CreateIndex
CREATE INDEX "Equipo_claseId_idx" ON "Equipo"("claseId");

-- CreateIndex
CREATE INDEX "Equipo_creadoPorId_idx" ON "Equipo"("creadoPorId");

-- CreateIndex
CREATE INDEX "EquipoMiembro_usuarioId_idx" ON "EquipoMiembro"("usuarioId");

-- CreateIndex
CREATE UNIQUE INDEX "EquipoMiembro_equipoId_usuarioId_key" ON "EquipoMiembro"("equipoId", "usuarioId");

-- CreateIndex
CREATE INDEX "HitoProyecto_proyectoId_idx" ON "HitoProyecto"("proyectoId");

-- CreateIndex
CREATE UNIQUE INDEX "HitoProyecto_proyectoId_orden_key" ON "HitoProyecto"("proyectoId", "orden");

-- CreateIndex
CREATE INDEX "EntregaHito_hitoId_idx" ON "EntregaHito"("hitoId");

-- CreateIndex
CREATE INDEX "EntregaHito_equipoId_idx" ON "EntregaHito"("equipoId");

-- CreateIndex
CREATE INDEX "EntregaHito_createdAt_idx" ON "EntregaHito"("createdAt");

-- CreateIndex
CREATE INDEX "RevisionEntrega_entregaId_idx" ON "RevisionEntrega"("entregaId");

-- CreateIndex
CREATE INDEX "RevisionEntrega_revisorId_idx" ON "RevisionEntrega"("revisorId");

-- CreateIndex
CREATE UNIQUE INDEX "MiembroProyecto_proyectoId_usuarioId_key" ON "MiembroProyecto"("proyectoId", "usuarioId");

-- CreateIndex
CREATE INDEX "EvaluacionProyecto_proyectoId_idx" ON "EvaluacionProyecto"("proyectoId");

-- CreateIndex
CREATE INDEX "EvaluacionProyecto_periodoId_idx" ON "EvaluacionProyecto"("periodoId");

-- CreateIndex
CREATE INDEX "EvaluacionProyecto_evaluadorId_idx" ON "EvaluacionProyecto"("evaluadorId");

-- CreateIndex
CREATE UNIQUE INDEX "EvaluacionProyecto_proyectoId_evaluadorId_key" ON "EvaluacionProyecto"("proyectoId", "evaluadorId");

-- CreateIndex
CREATE UNIQUE INDEX "ProyectoDestacado_proyectoId_key" ON "ProyectoDestacado"("proyectoId");

-- CreateIndex
CREATE INDEX "ProyectoDestacado_periodoId_idx" ON "ProyectoDestacado"("periodoId");

-- CreateIndex
CREATE INDEX "ProyectoDestacado_idFacultad_idx" ON "ProyectoDestacado"("idFacultad");

-- CreateIndex
CREATE INDEX "ProyectoDestacado_idCarrera_idx" ON "ProyectoDestacado"("idCarrera");

-- CreateIndex
CREATE INDEX "SolicitudAccesoProyecto_proyectoId_idx" ON "SolicitudAccesoProyecto"("proyectoId");

-- CreateIndex
CREATE INDEX "SolicitudAccesoProyecto_solicitanteId_idx" ON "SolicitudAccesoProyecto"("solicitanteId");

-- CreateIndex
CREATE INDEX "SolicitudAccesoProyecto_aprobadorId_idx" ON "SolicitudAccesoProyecto"("aprobadorId");

-- CreateIndex
CREATE INDEX "SolicitudAccesoProyecto_estado_idx" ON "SolicitudAccesoProyecto"("estado");

-- CreateIndex
CREATE INDEX "Pizarra_proyectoId_idx" ON "Pizarra"("proyectoId");

-- CreateIndex
CREATE INDEX "Pizarra_equipoId_idx" ON "Pizarra"("equipoId");

-- CreateIndex
CREATE INDEX "Pizarra_periodoId_idx" ON "Pizarra"("periodoId");

-- CreateIndex
CREATE INDEX "Pizarra_creadoPorId_idx" ON "Pizarra"("creadoPorId");

-- CreateIndex
CREATE INDEX "Pizarra_tipoGrupo_idx" ON "Pizarra"("tipoGrupo");

-- CreateIndex
CREATE INDEX "Pizarra_createdAt_idx" ON "Pizarra"("createdAt");

-- CreateIndex
CREATE INDEX "PizarraColaborador_usuarioId_idx" ON "PizarraColaborador"("usuarioId");

-- CreateIndex
CREATE INDEX "PizarraColaborador_pizarraId_idx" ON "PizarraColaborador"("pizarraId");

-- CreateIndex
CREATE UNIQUE INDEX "PizarraColaborador_pizarraId_usuarioId_key" ON "PizarraColaborador"("pizarraId", "usuarioId");

-- CreateIndex
CREATE INDEX "Documento_usuarioId_idx" ON "Documento"("usuarioId");

-- CreateIndex
CREATE INDEX "Documento_entregaId_idx" ON "Documento"("entregaId");

-- CreateIndex
CREATE INDEX "Documento_creadoEn_idx" ON "Documento"("creadoEn");

-- CreateIndex
CREATE INDEX "Documento_esRepositorioUnifranz_idx" ON "Documento"("esRepositorioUnifranz");

-- CreateIndex
CREATE INDEX "AnalisisPlagio_documentoId_idx" ON "AnalisisPlagio"("documentoId");

-- CreateIndex
CREATE INDEX "AnalisisPlagio_entregaId_idx" ON "AnalisisPlagio"("entregaId");

-- CreateIndex
CREATE INDEX "AnalisisPlagio_estado_idx" ON "AnalisisPlagio"("estado");

-- CreateIndex
CREATE INDEX "AnalisisPlagio_nivelRiesgo_idx" ON "AnalisisPlagio"("nivelRiesgo");

-- CreateIndex
CREATE INDEX "AnalisisPlagio_creadoEn_idx" ON "AnalisisPlagio"("creadoEn");

-- CreateIndex
CREATE INDEX "FuentePlagio_analisisId_idx" ON "FuentePlagio"("analisisId");

-- CreateIndex
CREATE INDEX "FuentePlagio_fragmentoId_idx" ON "FuentePlagio"("fragmentoId");

-- CreateIndex
CREATE INDEX "FuentePlagio_tipo_idx" ON "FuentePlagio"("tipo");

-- CreateIndex
CREATE INDEX "FuentePlagio_coincidencia_idx" ON "FuentePlagio"("coincidencia");

-- CreateIndex
CREATE INDEX "FragmentoPlagio_analisisId_idx" ON "FragmentoPlagio"("analisisId");

-- CreateIndex
CREATE INDEX "FragmentoPlagio_tipo_idx" ON "FragmentoPlagio"("tipo");

-- CreateIndex
CREATE INDEX "FragmentoPlagio_riesgo_idx" ON "FragmentoPlagio"("riesgo");

-- CreateIndex
CREATE INDEX "FragmentoPlagio_labelIA_idx" ON "FragmentoPlagio"("labelIA");

-- CreateIndex
CREATE INDEX "DatasetPlagio_tarea_idx" ON "DatasetPlagio"("tarea");

-- CreateIndex
CREATE INDEX "DatasetPlagio_label_idx" ON "DatasetPlagio"("label");

-- CreateIndex
CREATE INDEX "DatasetPlagio_aprobado_idx" ON "DatasetPlagio"("aprobado");

-- CreateIndex
CREATE INDEX "ModeloPlagio_tarea_idx" ON "ModeloPlagio"("tarea");

-- CreateIndex
CREATE INDEX "ModeloPlagio_activo_idx" ON "ModeloPlagio"("activo");

-- CreateIndex
CREATE UNIQUE INDEX "ModeloPlagio_tarea_version_key" ON "ModeloPlagio"("tarea", "version");

-- CreateIndex
CREATE UNIQUE INDEX "GithubAuth_usuarioId_tipoCuenta_key" ON "GithubAuth"("usuarioId", "tipoCuenta");

-- CreateIndex
CREATE UNIQUE INDEX "InstGithubApp_installationId_key" ON "InstGithubApp"("installationId");

-- CreateIndex
CREATE UNIQUE INDEX "GithubLinkPair_usuarioId_key" ON "GithubLinkPair"("usuarioId");

-- CreateIndex
CREATE UNIQUE INDEX "RepoGithub_equipoId_key" ON "RepoGithub"("equipoId");

-- CreateIndex
CREATE UNIQUE INDEX "RepoGithub_owner_name_key" ON "RepoGithub"("owner", "name");

-- CreateIndex
CREATE INDEX "RepoSnapshot_repoId_fecha_idx" ON "RepoSnapshot"("repoId", "fecha");

-- CreateIndex
CREATE INDEX "Feria_fecha_idx" ON "Feria"("fecha");

-- CreateIndex
CREATE UNIQUE INDEX "FeriaCategoria_feriaId_nombre_key" ON "FeriaCategoria"("feriaId", "nombre");

-- CreateIndex
CREATE INDEX "FeriaEquipo_feriaId_categoriaId_idx" ON "FeriaEquipo"("feriaId", "categoriaId");

-- CreateIndex
CREATE INDEX "FeriaEquipoMiembro_usuarioId_idx" ON "FeriaEquipoMiembro"("usuarioId");

-- CreateIndex
CREATE UNIQUE INDEX "FeriaEquipoMiembro_feriaEquipoId_usuarioId_key" ON "FeriaEquipoMiembro"("feriaEquipoId", "usuarioId");

-- CreateIndex
CREATE INDEX "FeriaEvaluacion_feriaEquipoId_idx" ON "FeriaEvaluacion"("feriaEquipoId");

-- CreateIndex
CREATE INDEX "FeriaEvaluacion_juradoId_idx" ON "FeriaEvaluacion"("juradoId");

-- CreateIndex
CREATE UNIQUE INDEX "CV_usuarioId_key" ON "CV"("usuarioId");

-- CreateIndex
CREATE INDEX "CVHabilidad_cvId_idx" ON "CVHabilidad"("cvId");

-- CreateIndex
CREATE INDEX "CVLogro_cvId_idx" ON "CVLogro"("cvId");

-- CreateIndex
CREATE INDEX "CVProyecto_cvId_idx" ON "CVProyecto"("cvId");

-- CreateIndex
CREATE INDEX "ReporteGenerado_tipo_idx" ON "ReporteGenerado"("tipo");

-- CreateIndex
CREATE INDEX "ReporteGenerado_periodoId_idx" ON "ReporteGenerado"("periodoId");

-- CreateIndex
CREATE INDEX "ReporteGenerado_generadoPorId_idx" ON "ReporteGenerado"("generadoPorId");

-- AddForeignKey
ALTER TABLE "PeriodoAcademico" ADD CONSTRAINT "PeriodoAcademico_institucionId_fkey" FOREIGN KEY ("institucionId") REFERENCES "Institucion"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Usuario" ADD CONSTRAINT "Usuario_idRol_fkey" FOREIGN KEY ("idRol") REFERENCES "Rol"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Usuario" ADD CONSTRAINT "Usuario_idFacultad_fkey" FOREIGN KEY ("idFacultad") REFERENCES "Facultad"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Usuario" ADD CONSTRAINT "Usuario_idCarrera_fkey" FOREIGN KEY ("idCarrera") REFERENCES "Carrera"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Usuario" ADD CONSTRAINT "Usuario_semestreId_fkey" FOREIGN KEY ("semestreId") REFERENCES "Semestre"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Facultad" ADD CONSTRAINT "Facultad_institucionId_fkey" FOREIGN KEY ("institucionId") REFERENCES "Institucion"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Carrera" ADD CONSTRAINT "Carrera_idFacultad_fkey" FOREIGN KEY ("idFacultad") REFERENCES "Facultad"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Semestre" ADD CONSTRAINT "Semestre_carreraId_fkey" FOREIGN KEY ("carreraId") REFERENCES "Carrera"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Materia" ADD CONSTRAINT "Materia_idCarrera_fkey" FOREIGN KEY ("idCarrera") REFERENCES "Carrera"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Materia" ADD CONSTRAINT "Materia_semestreId_fkey" FOREIGN KEY ("semestreId") REFERENCES "Semestre"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Horario" ADD CONSTRAINT "Horario_materiaId_fkey" FOREIGN KEY ("materiaId") REFERENCES "Materia"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ClaseMateria" ADD CONSTRAINT "ClaseMateria_periodoId_fkey" FOREIGN KEY ("periodoId") REFERENCES "PeriodoAcademico"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ClaseMateria" ADD CONSTRAINT "ClaseMateria_materiaId_fkey" FOREIGN KEY ("materiaId") REFERENCES "Materia"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ClaseMateria" ADD CONSTRAINT "ClaseMateria_docenteId_fkey" FOREIGN KEY ("docenteId") REFERENCES "Usuario"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "InscripcionMateria" ADD CONSTRAINT "InscripcionMateria_usuarioId_fkey" FOREIGN KEY ("usuarioId") REFERENCES "Usuario"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "InscripcionMateria" ADD CONSTRAINT "InscripcionMateria_periodoId_fkey" FOREIGN KEY ("periodoId") REFERENCES "PeriodoAcademico"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "InscripcionMateria" ADD CONSTRAINT "InscripcionMateria_claseId_fkey" FOREIGN KEY ("claseId") REFERENCES "ClaseMateria"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "InscripcionMateria" ADD CONSTRAINT "InscripcionMateria_materiaId_fkey" FOREIGN KEY ("materiaId") REFERENCES "Materia"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Inscripcion" ADD CONSTRAINT "Inscripcion_usuarioId_fkey" FOREIGN KEY ("usuarioId") REFERENCES "Usuario"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Inscripcion" ADD CONSTRAINT "Inscripcion_materiaId_fkey" FOREIGN KEY ("materiaId") REFERENCES "Materia"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "DocenteMateria" ADD CONSTRAINT "DocenteMateria_usuarioId_fkey" FOREIGN KEY ("usuarioId") REFERENCES "Usuario"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "DocenteMateria" ADD CONSTRAINT "DocenteMateria_materiaId_fkey" FOREIGN KEY ("materiaId") REFERENCES "Materia"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "EstudianteMateria" ADD CONSTRAINT "EstudianteMateria_usuarioId_fkey" FOREIGN KEY ("usuarioId") REFERENCES "Usuario"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "EstudianteMateria" ADD CONSTRAINT "EstudianteMateria_materiaId_fkey" FOREIGN KEY ("materiaId") REFERENCES "Materia"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Proyecto" ADD CONSTRAINT "Proyecto_creadoPorId_fkey" FOREIGN KEY ("creadoPorId") REFERENCES "Usuario"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ProyectoMateria" ADD CONSTRAINT "ProyectoMateria_proyectoId_fkey" FOREIGN KEY ("proyectoId") REFERENCES "Proyecto"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ProyectoMateria" ADD CONSTRAINT "ProyectoMateria_materiaId_fkey" FOREIGN KEY ("materiaId") REFERENCES "Materia"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ProyectoMateria" ADD CONSTRAINT "ProyectoMateria_periodoId_fkey" FOREIGN KEY ("periodoId") REFERENCES "PeriodoAcademico"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ProyectoMateria" ADD CONSTRAINT "ProyectoMateria_claseId_fkey" FOREIGN KEY ("claseId") REFERENCES "ClaseMateria"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Equipo" ADD CONSTRAINT "Equipo_proyectoId_fkey" FOREIGN KEY ("proyectoId") REFERENCES "Proyecto"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Equipo" ADD CONSTRAINT "Equipo_materiaId_fkey" FOREIGN KEY ("materiaId") REFERENCES "Materia"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Equipo" ADD CONSTRAINT "Equipo_periodoId_fkey" FOREIGN KEY ("periodoId") REFERENCES "PeriodoAcademico"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Equipo" ADD CONSTRAINT "Equipo_claseId_fkey" FOREIGN KEY ("claseId") REFERENCES "ClaseMateria"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Equipo" ADD CONSTRAINT "Equipo_creadoPorId_fkey" FOREIGN KEY ("creadoPorId") REFERENCES "Usuario"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "EquipoMiembro" ADD CONSTRAINT "EquipoMiembro_equipoId_fkey" FOREIGN KEY ("equipoId") REFERENCES "Equipo"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "EquipoMiembro" ADD CONSTRAINT "EquipoMiembro_usuarioId_fkey" FOREIGN KEY ("usuarioId") REFERENCES "Usuario"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "HitoProyecto" ADD CONSTRAINT "HitoProyecto_proyectoId_fkey" FOREIGN KEY ("proyectoId") REFERENCES "Proyecto"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "EntregaHito" ADD CONSTRAINT "EntregaHito_hitoId_fkey" FOREIGN KEY ("hitoId") REFERENCES "HitoProyecto"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "EntregaHito" ADD CONSTRAINT "EntregaHito_equipoId_fkey" FOREIGN KEY ("equipoId") REFERENCES "Equipo"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "EntregaHito" ADD CONSTRAINT "EntregaHito_autorId_fkey" FOREIGN KEY ("autorId") REFERENCES "Usuario"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "RevisionEntrega" ADD CONSTRAINT "RevisionEntrega_entregaId_fkey" FOREIGN KEY ("entregaId") REFERENCES "EntregaHito"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "RevisionEntrega" ADD CONSTRAINT "RevisionEntrega_revisorId_fkey" FOREIGN KEY ("revisorId") REFERENCES "Usuario"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MiembroProyecto" ADD CONSTRAINT "MiembroProyecto_proyectoId_fkey" FOREIGN KEY ("proyectoId") REFERENCES "Proyecto"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MiembroProyecto" ADD CONSTRAINT "MiembroProyecto_usuarioId_fkey" FOREIGN KEY ("usuarioId") REFERENCES "Usuario"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "EvaluacionProyecto" ADD CONSTRAINT "EvaluacionProyecto_proyectoId_fkey" FOREIGN KEY ("proyectoId") REFERENCES "Proyecto"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "EvaluacionProyecto" ADD CONSTRAINT "EvaluacionProyecto_periodoId_fkey" FOREIGN KEY ("periodoId") REFERENCES "PeriodoAcademico"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "EvaluacionProyecto" ADD CONSTRAINT "EvaluacionProyecto_evaluadorId_fkey" FOREIGN KEY ("evaluadorId") REFERENCES "Usuario"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ProyectoDestacado" ADD CONSTRAINT "ProyectoDestacado_proyectoId_fkey" FOREIGN KEY ("proyectoId") REFERENCES "Proyecto"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ProyectoDestacado" ADD CONSTRAINT "ProyectoDestacado_periodoId_fkey" FOREIGN KEY ("periodoId") REFERENCES "PeriodoAcademico"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ProyectoDestacado" ADD CONSTRAINT "ProyectoDestacado_idFacultad_fkey" FOREIGN KEY ("idFacultad") REFERENCES "Facultad"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ProyectoDestacado" ADD CONSTRAINT "ProyectoDestacado_idCarrera_fkey" FOREIGN KEY ("idCarrera") REFERENCES "Carrera"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SolicitudAccesoProyecto" ADD CONSTRAINT "SolicitudAccesoProyecto_proyectoId_fkey" FOREIGN KEY ("proyectoId") REFERENCES "Proyecto"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SolicitudAccesoProyecto" ADD CONSTRAINT "SolicitudAccesoProyecto_solicitanteId_fkey" FOREIGN KEY ("solicitanteId") REFERENCES "Usuario"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SolicitudAccesoProyecto" ADD CONSTRAINT "SolicitudAccesoProyecto_aprobadorId_fkey" FOREIGN KEY ("aprobadorId") REFERENCES "Usuario"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Pizarra" ADD CONSTRAINT "Pizarra_proyectoId_fkey" FOREIGN KEY ("proyectoId") REFERENCES "Proyecto"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Pizarra" ADD CONSTRAINT "Pizarra_equipoId_fkey" FOREIGN KEY ("equipoId") REFERENCES "Equipo"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Pizarra" ADD CONSTRAINT "Pizarra_periodoId_fkey" FOREIGN KEY ("periodoId") REFERENCES "PeriodoAcademico"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Pizarra" ADD CONSTRAINT "Pizarra_creadoPorId_fkey" FOREIGN KEY ("creadoPorId") REFERENCES "Usuario"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PizarraColaborador" ADD CONSTRAINT "PizarraColaborador_pizarraId_fkey" FOREIGN KEY ("pizarraId") REFERENCES "Pizarra"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PizarraColaborador" ADD CONSTRAINT "PizarraColaborador_usuarioId_fkey" FOREIGN KEY ("usuarioId") REFERENCES "Usuario"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PizarraColaborador" ADD CONSTRAINT "PizarraColaborador_agregadoPorId_fkey" FOREIGN KEY ("agregadoPorId") REFERENCES "Usuario"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Documento" ADD CONSTRAINT "Documento_usuarioId_fkey" FOREIGN KEY ("usuarioId") REFERENCES "Usuario"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Documento" ADD CONSTRAINT "Documento_entregaId_fkey" FOREIGN KEY ("entregaId") REFERENCES "EntregaHito"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AnalisisPlagio" ADD CONSTRAINT "AnalisisPlagio_documentoId_fkey" FOREIGN KEY ("documentoId") REFERENCES "Documento"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AnalisisPlagio" ADD CONSTRAINT "AnalisisPlagio_entregaId_fkey" FOREIGN KEY ("entregaId") REFERENCES "EntregaHito"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "FuentePlagio" ADD CONSTRAINT "FuentePlagio_analisisId_fkey" FOREIGN KEY ("analisisId") REFERENCES "AnalisisPlagio"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "FuentePlagio" ADD CONSTRAINT "FuentePlagio_fragmentoId_fkey" FOREIGN KEY ("fragmentoId") REFERENCES "FragmentoPlagio"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "FragmentoPlagio" ADD CONSTRAINT "FragmentoPlagio_analisisId_fkey" FOREIGN KEY ("analisisId") REFERENCES "AnalisisPlagio"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "DatasetPlagio" ADD CONSTRAINT "DatasetPlagio_fragmentoId_fkey" FOREIGN KEY ("fragmentoId") REFERENCES "FragmentoPlagio"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "DatasetPlagio" ADD CONSTRAINT "DatasetPlagio_creadoPorId_fkey" FOREIGN KEY ("creadoPorId") REFERENCES "Usuario"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "GithubAuth" ADD CONSTRAINT "GithubAuth_usuarioId_fkey" FOREIGN KEY ("usuarioId") REFERENCES "Usuario"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "InstGithubApp" ADD CONSTRAINT "InstGithubApp_usuarioId_fkey" FOREIGN KEY ("usuarioId") REFERENCES "Usuario"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "GithubLinkPair" ADD CONSTRAINT "GithubLinkPair_usuarioId_fkey" FOREIGN KEY ("usuarioId") REFERENCES "Usuario"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "RepoGithub" ADD CONSTRAINT "RepoGithub_equipoId_fkey" FOREIGN KEY ("equipoId") REFERENCES "Equipo"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "RepoSnapshot" ADD CONSTRAINT "RepoSnapshot_repoId_fkey" FOREIGN KEY ("repoId") REFERENCES "RepoGithub"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Feria" ADD CONSTRAINT "Feria_institucionId_fkey" FOREIGN KEY ("institucionId") REFERENCES "Institucion"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "FeriaCategoria" ADD CONSTRAINT "FeriaCategoria_feriaId_fkey" FOREIGN KEY ("feriaId") REFERENCES "Feria"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "FeriaEquipo" ADD CONSTRAINT "FeriaEquipo_feriaId_fkey" FOREIGN KEY ("feriaId") REFERENCES "Feria"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "FeriaEquipo" ADD CONSTRAINT "FeriaEquipo_categoriaId_fkey" FOREIGN KEY ("categoriaId") REFERENCES "FeriaCategoria"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "FeriaEquipo" ADD CONSTRAINT "FeriaEquipo_equipoId_fkey" FOREIGN KEY ("equipoId") REFERENCES "Equipo"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "FeriaEquipoMiembro" ADD CONSTRAINT "FeriaEquipoMiembro_feriaEquipoId_fkey" FOREIGN KEY ("feriaEquipoId") REFERENCES "FeriaEquipo"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "FeriaEquipoMiembro" ADD CONSTRAINT "FeriaEquipoMiembro_usuarioId_fkey" FOREIGN KEY ("usuarioId") REFERENCES "Usuario"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "FeriaEvaluacion" ADD CONSTRAINT "FeriaEvaluacion_feriaEquipoId_fkey" FOREIGN KEY ("feriaEquipoId") REFERENCES "FeriaEquipo"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "FeriaEvaluacion" ADD CONSTRAINT "FeriaEvaluacion_juradoId_fkey" FOREIGN KEY ("juradoId") REFERENCES "Usuario"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CV" ADD CONSTRAINT "CV_usuarioId_fkey" FOREIGN KEY ("usuarioId") REFERENCES "Usuario"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CVHabilidad" ADD CONSTRAINT "CVHabilidad_cvId_fkey" FOREIGN KEY ("cvId") REFERENCES "CV"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CVLogro" ADD CONSTRAINT "CVLogro_cvId_fkey" FOREIGN KEY ("cvId") REFERENCES "CV"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CVProyecto" ADD CONSTRAINT "CVProyecto_cvId_fkey" FOREIGN KEY ("cvId") REFERENCES "CV"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ReporteGenerado" ADD CONSTRAINT "ReporteGenerado_periodoId_fkey" FOREIGN KEY ("periodoId") REFERENCES "PeriodoAcademico"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ReporteGenerado" ADD CONSTRAINT "ReporteGenerado_generadoPorId_fkey" FOREIGN KEY ("generadoPorId") REFERENCES "Usuario"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

